.insert-comment {
    @apply block w-full px-3 py-1.5 text-base font-normal bg-white bg-clip-padding border-b-2 border-solid 
    border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 
    focus:outline-none
}
.btn-comment {
    @apply mx-3 mb-2 inline-block px-6 py-2 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md
    hover:bg-blue-900 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 
    active:shadow-lg transition duration-150 ease-in-out
}